################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A17 Ex05 MatanMaron 021516083 MikiManor 310962212/bin/Debug
